{{!--
    Add Evergage data attributes to elements you wish to track in the test experience.

    Note: Using Evergage data attributes allows you to track stats with Evergage and
    requires the "Campaign Stat Tracking Gear" installed and enabled for your dataset.

    Visit the Campaign Stats Tracking documentation to learn more:
    https://developer.evergage.com/templates/campaign-stats.
--}}

<div id="evg-product-recs" data-evg-campaign-id="{{campaign}}" data-evg-experience-id="{{experience}}" data-evg-campaign-group="test" aria-label="Product Recommendations {{#if header}}- {{header}}{{/if}}">
    <h3 class="evg-header evg-h3">
        {{header}}
    </h3>
    <div class="evg-container">
        {{#each products}}
        <div class="evg-product-rec" data-evg-product-id="{{id}}">
            <a href="{{attributes.url.value}}">
                <img class="evg-product-rec-image" src="{{attributes.imageUrl.value}}" data-evg-product-imageUrl="{{attributes.imageUrl.value}}" alt="{{attributes.name.value}}"/>
            </a>
            <div class="evg-product-rec-text" aria-label="Product Text for {{attributes.name.value}}">
                <a class="evg-product-rec-name" href="{{attributes.url.value}}" data-evg-product-name="{{attributes.name.value}}" aria-label="Name: {{attributes.name.value}}">
                    {{attributes.name.value}}
                </a>
                <div class="evg-product-rec-price" data-evg-product-price="{{attributes.price.value}}" aria-label="Price: {{attributes.price.value}}">
                    ${{attributes.price.value}}
                </div>
                <div class="evg-product-rec-rating" data-evg-product-rating="{{attributes.rating.value}}" aria-label="Rating: {{attributes.rating.value}}">
                    Rating: {{attributes.rating.value}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
