{{!--
    Global Template: Recipe Product Recommendations

    This global template inserts a row of recommended products, based on a selected Einstein Recipe.

    Requirements:
    1) Ensure that the available content zones are defined in your Sitemap.

    Customizations:
    1) Media query breakpoints can be changed in CSS.
    2) For performance optimization, add an observer selector as a second argument to
    Evergage.DisplayUtil.pageElementLoaded in Clientside Code that waits for the content zone to load into the DOM.
    3) To support rich text, add the @richText(true) decorator to configuration properties in Serverside Code.
    Handlebars expressions for these properties must be wrapped in three sets of curly braces (e.g. {{{expression}}} ).
    4) If you change the margin and/or padding (left and/or right) for .evg-product-recommendation, be sure to change
    the last value in calc() for the inline max-width style. The initial value of 3rem is the result of:
    margin-left (1rem) + padding-left (.5rem) + padding-right (.5rem) + margin-right (1rem)
    5) Ratings are styled using the current rating value and a maxRatingBound, which is defined in the configuration
    properties in Serverside Code and defaults to 5. If you know that ratings captured in the sitemap are on a scale
    of 5, then there's no need to change this value.
    6) Remove or change the default values for the configuration properties in Serverside Code.
    7) Change any and all values of aria-label attributes as necessary.
--}}

<div id="evg-recipe-product-recommendations" data-evg-campaign-id="{{campaign}}" data-evg-experience-id="{{experience}}"
data-evg-user-group="{{userGroup}}" aria-label="Product Recommendations{{#if header}} - {{header}}{{/if}}">
    <h3 class="evg-h3 evg-header">
        {{header}}
    </h3>
    <div class="evg-container evg-product-recommendations">
        {{#each products}}
        <div class="evg-product-recommendation" data-evg-item-id="{{id}}" data-evg-item-type="{{../itemType}}"
        style="max-width: calc((1 / {{../maximumNumberOfProducts}} * 100%) - 3rem);">
            <a href="{{attributes.url.value}}">
                <img class="evg-product-image" data-evg-product-imageUrl="{{attributes.imageUrl.value}}"
                src="{{attributes.imageUrl.value}}" alt="{{attributes.name.value}}"/>
            </a>
            <div class="evg-product-details">
                <a class="evg-product-name{{#unless ../nameVisibility}} evg-hide{{/unless}}"
                data-evg-product-name="{{attributes.name.value}}" href="{{attributes.url.value}}">
                    {{attributes.name.value}}
                </a>
                {{#if attributes.description.value}}
                <div class="evg-product-description{{#unless ../descriptionVisibility}} evg-hide{{/unless}}">
                    {{attributes.description.value}}
                </div>
                {{/if}}
                <div class="evg-product-price{{#unless ../priceVisibility}} evg-hide{{/unless}}"
                data-evg-product-price="{{attributes.price.value}}">
                    ${{attributes.price.value}}
                </div>
                <div class="evg-product-rating{{#unless ../ratingVisibility}} evg-hide{{/unless}}"
                data-evg-product-rating="{{attributes.rating.value}}" aria-label="Rating: {{attributes.rating.value}}">
                    <div class="evg-star-empty"
                    eg-ratings="{{#if attributes.rating.value}}{{attributes.rating.value}}{{else}}0{{/if}}"
                    style="width: auto">
                        ★★★★★
                    </div>
                    <div class="evg-star-fill"
                    style="width: calc({{#if attributes.rating.value}}{{attributes.rating.value}}{{else}}0{{/if}} / {{../maxRatingBound}} * 100%);">
                        ★★★★★
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
