{{!--
    Global Template: Product Recommendations Rows

    This global template inserts a row of recommended products, based on a selected Einstein Recipe.

    Requirements:
    1) Ensure that the available content zones are defined in your Sitemap.

    Customizations:
    1) Media query breakpoints can be changed in CSS.
    2) For performance optimization, add an observer selector as a second argument to
    Evergage.DisplayUtil.pageElementLoaded in Clientside Code that waits for the content zone to load into the DOM.
    3) To support rich text, add the @richText(true) decorator to configuration properties in Serverside Code.
    Handlebars expressions for these properties must be wrapped in three sets of curly braces (e.g. {{{expression}}} ).
    4) Remove or change the default values for the configuration properties in Serverside Code.
    5) Change any and all values of aria-label attributes as necessary.
--}}

<div id="evg-recipe-product-recommendations" data-evg-campaign-id="{{campaign}}" data-evg-experience-id="{{experience}}"
data-evg-campaign-group="test" aria-label="Product Recommendations {{#if header}}- {{header}}{{/if}}">
    <h3 class="evg-h3 evg-header">
        {{header}}
    </h3>
    <div class="evg-container evg-product-recommendations">
        {{#each products}}
        <div class="evg-product-recommendation" data-evg-product-id="{{id}}">
            <a href="{{attributes.url.value}}">
                <img class="evg-product-image" src="{{attributes.imageUrl.value}}"
                data-evg-product-imageUrl="{{attributes.imageUrl.value}}" alt="{{attributes.name.value}}"/>
            </a>
            <div class="evg-product-details">
                <div class="evg-product-rec-name--wrapper">
                    <a class="evg-product-name" href="{{attributes.url.value}}"
                    data-evg-product-name="{{attributes.name.value}}">
                        {{attributes.name.value}}
                    </a>
                </div>
                {{#if attributes.description.value}}
                <div class="evg-product-description">
                    {{attributes.description.value}}
                </div>
                {{/if}}
                <div class="evg-product-price" data-evg-product-price="{{attributes.price.value}}">
                    ${{attributes.price.value}}
                </div>
                <div class="evg-product-rating" data-evg-product-rating="{{attributes.rating.value}}"
                aria-label="Rating: {{attributes.rating.value}}">
                    Rating: {{attributes.rating.value}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
