{{!--
    Global Template: Einstein Decisions

    This Global Template inserts a Promotion, chosen by an Einstein Decision (Contextual Bandit).

    Requirements:
    1) Set the content zone(s) to that defined in your Sitemap.
    2) Ensure that Promotions are enabled for the account and dataset.

    Customizations:
    1) Remove or change the default values for the configuration properties in Serverside Code.
--}}

{{#if promotion}}
<div id="evg-einstein-decisions" data-evg-campaign-id="{{campaign}}"
data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
    <a class="evg-promotion-link" href="{{promotion.attributes.url.value}}">
        <img class="evg-promotion-img" src="{{promotion.assets.[0].imageUrl}}">
    </a>
</div>
{{/if}}
