{{!--
    Global Template: Hero Banner with Call-to-Action

    This global template replaces a hero banner with a new banner containing a 
    background image and a call-to-action button.

    There are two default Color Themes: Dark text for lighter backgrounds or
    light text on darker backgrounds.

    Requirements:
    1) Install and enable the Campaign Stats Tracking gear for your dataset.
    2) Install and enable the Display Utilities gear for your dataset.
    2) Set the content zone in the Serverside Code to one that is defined in your Sitemap.

    Customizations:
    1) Color Theme options can be changed in Serverside Code.
    2) Color Theme styling and implementation can be changed in Clientside Code and CSS.
    3) Fallback background color of the Color Theme options can be changed in CSS.
    4) Media query breakpoints can be changed in CSS.
    5) For performance optimization, add an observer selector as a second argument to
    Evergage.DisplayUtil.pageElementLoaded in Clientside Code that waits for the content zone to load into the DOM.
	6) To support rich text, add the @richText(true) decorator to configuration properties in Serverside Code. 
    Handlebars expressions for these properties must be wrapped in three sets of curly braces (e.g. {{{expression}}} ).
    7) Remove or change the default values for the configuration properties in Serverside Code.
    8) Change the aria-label attribute value of .evg-cta to an appropriate description.
--}}

<div class="evg-jumbotron" id="evg-hero-banner" data-evg-campaign-id="{{campaign}}" 
data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}" aria-label="Hero banner" 
style="background-image:url({{imageURL}});">
    <div class="evg-container">
        <h1 class="evg-header evg-h1 evg-display-2 evg-text">
            {{header}}
        </h1>
        <h2 class="evg-subheader evg-h2 evg-text">
            {{subheader}}
        </h2>
        <a class="evg-cta evg-btn evg-btn-primary evg-btn-lg" href="{{ctaUrl}}" aria-label="Shop {{header}}">
            {{ctaText}}
        </a>
    </div>
</div>