{{!--
    Global Template: Infobar with Call-to-Action

    This global template places an infobar containing text and a call-to-action button.

    There are two default Color Themes: Dark text for lighter backgrounds or
    light text on darker backgrounds.

    Requirements:
    1) Select the content zone(s), which is defined in your Sitemap.

    Customizations:
    1) Style options can be changed in Serverside Code.
    2) Styling of the Style options can be changed in CSS.
    3) To support rich text, add the @richText(true) decorator to configuration properties in Serverside Code. 
    Handlebars expressions for these properties must be wrapped in three sets of curly braces (e.g. {{{expression}}} ).
    4) Remove or change the default values for the configuration properties in Serverside Code.
    5) Change the aria-label attribute value of .evg-cta to an appropriate description.
--}}

<div class="{{infobarClass}} {{style.className}}" id="evg-infobar-cta" data-evg-campaign-id="{{campaign}}" 
data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}" aria-label="Infobar">
    <div class="evg-infobar">
        <p class="evg-message {{style.className}}{{#unless messageVisibility}} evg-hide{{/unless}}"
        aria-label="{{messageText}}" role="Message Text">
            {{messageText}}
        </p>
        <a class="evg-cta {{style.className}}{{#unless ctaVisibility}} evg-hide{{/unless}}"
        href="{{ctaUrl}}" aria-label="{{ctaText}}">
            {{ctaText}}
        </a>
    </div>
    <button class="evg-btn-dismissal {{style.className}}" data-evg-dismissal aria-label="Close Infobar">&times;</button>
</div>