{{!--
    Global Template: Recipe Content Recommendations
    
    This global template inserts recommended contents in a two-column format, based on a selected Einstein Recipe.
    
    Requirements:
    1) Ensure that the available content zones are defined in your Sitemap.
    
    Customizations:
    1) Item type to promote can be changed in Serverside Code (See 'recsConfig').
    2) Media query breakpoints can be changed in CSS.
    3) For performance optimization, add an observer selector as a second argument to
    Evergage.DisplayUtil.pageElementLoaded in Clientside Code that waits for the content zone to load into the DOM.
    4) To support rich text, add the @richText(true) decorator to configuration properties in Serverside Code.
    Handlebars expressions for these properties must be wrapped in three sets of curly braces (e.g. {{{expression}}} ).
    5) Remove or change the default values for the configuration properties in Serverside Code.
    6) Change any and all values of aria-label attributes as necessary.
--}}

<article id="evg-recipe-content-recommendations" data-evg-campaign-id="{{campaign}}" 
data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}" 
aria-label="Content Recommendations {{#if title}}- {{title}}{{/if}}">
    <h3 class="evg-header evg-h3">You May Also Like</h3>
    <div class="evg-content-recommendations evg-container">
        {{#each blogs}}
        <div class="evg-card-container">
            <article class="evg-content-recommendation evg-card" data-evg-item-id="{{id}}" data-evg-item-type="{{../recipe.itemType}}">
                <a href="{{attributes.url.value}}">
                    <img class="evg-content-image evg-card-image" 
                    data-evg-product-imageUrl="{{attributes.imageUrl.value}}" src="{{attributes.imageUrl.value}}" 
                    alt="{{attributes.name.value}}"/>
                </a>
                <div class="evg-content-details evg-card-body">
                    <div class="evg-content-name evg-card-title {{#unless ../nameVisibility}} evg-hide{{/unless}}">
                        <a href="{{attributes.url.value}}">{{attributes.name.value}}</a>
                    </div>
                    {{#if attributes.description.value}}
                    <div class="evg-content-description evg-card-text {{#unless ../descriptionVisibility}} evg-hide{{/unless}}">
                        {{attributes.description.value}}
                    </div>
                    {{/if}}
                </div>
            </article>
        </div>
        {{/each}}
    </div>
</article>