{{!--
    Global Template: Contextual Bandit Promotions Banner

    This Global Template inserts a Promotion, chosen by an Einstein Contextual Bandit.

    Requirements:
    1) Ensure that the available content zones are defined in your Sitemap.
    2) Ensure that Promotions are enabled for the account/dataset.
    3) Add any necessary image dimensions to the Serverside code.

    Customizations:
    1) For performance optimization, add an observer selector as a second argument to
    Evergage.DisplayUtil.pageElementLoaded in Clientside Code that waits for the content zone to load into the DOM.
    2) Remove or change the default values for the configuration properties in Serverside Code.
    3) Change any and all values of aria-label attributes as necessary.
--}}

{{#if promotion}}
<div id="evg-contextual-bandit-promotions-banner" data-evg-campaign-id="{{campaign}}"
data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
    <a class="evg-promotion-link" href="{{promotion.attributes.url.value}}">
        <img class="evg-promotion-img" src="{{promotionImageUrl}}">
    </a>
</div>
{{/if}}