{{!--
    Add Evergage data attributes to elements you wish to track in the test experience.

    Note: Using Evergage data attributes allows you to track stats with Evergage and
    requires the "Campaign Stat Tracking Gear" installed and enabled for your dataset.

    Visit the Campaign Stats Tracking documentation to learn more:
    https://developer.evergage.com/templates/campaign-stats.
--}}

<div class="{{style.className}}" id="evg-slide-in-cta" data-evg-campaign-id="{{campaign}}"
    data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
    <div class="evg-slide-in">
        {{#if showHeader~}}
        <h1 class="{{style.className}} evg-header">
            {{~header~}}
        </h1>
        {{~/if}}
        {{#if showSubheader~}}
        <h2 class="{{style.className}} evg-subheader">
            {{~subheader~}}
        </h2>
        {{~/if}}
        {{#if showCta~}}
        <a class="{{style.className}} evg-cta evg-btn evg-btn-primary" href="{{ctaUrl}}" aria-label="{{ctaText}}">
            {{~ctaText~}}
        </a>
        {{~/if}}
        <button class="evg-btn-dismissal {{style.className}}" data-evg-dismissal aria-label="Close Slide-In">&times;</button>
    </div>
</div>
